.DS_Store


*.zip
!datos/*.zip
assets/cache/*
!attachments/

attachments/*
!attachments/web

application/ci_sessions/*
application/config/config.php
application/config/custom.php
application/config/constants.php
application/config/email.php
application/config/database.php
application/config/third_party_apis.php
composer.json
contributing.md
.profile
.editorconfig
*.pem
*.crt
*.key
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
