<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>SIA</title>

    
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>
  <body class="">
    

    

   <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-primary">
                    <div class="card-header bg-primary text-white text-center">Registro de Usuarios</div>
                    <div class="card-body text-primary">
                        <form action="/save" method="POST">
                            <div class="mb-3">
                                <label for="user_name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Nombre">
                            </div>

                            <div class="mb-3">
                                <label for="user_lastname" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="user_lastname" name="user_lastname" placeholder="Apellido">
                            </div>

                            <div class="mb-3">
                                <label for="user_login" class="form-label">Login</label>
                                <input type="text" class="form-control" id="user_login" name="user_login" placeholder="Login">
                            </div>

                            <div class="mb-3">
                                <label for="user_pass" class="form-label">Password</label>
                                <input type="text" class="form-control" id="user_pass" name="user_pass" placeholder="Password">
                            </div>
                              
                            <button class="btn btn-primary" type="submit">Guardar</button>
                              <a href="/" class="btn btn-secondary">Cancelar</a>  
                        </form>

                    </div>

                   

            </div>
            </div>
    </div>
   </div>

   
  </body>
</html>
